.car{
  display: flex;
  vertical-align: center;
  position: absolute;
  height: 70px;
  width: 50px;
  border-radius: 5px;
  box-shadow: 0px 1px 8px 0px black;

}

#start-instruction{
  position: absolute;
  top: 140px;
  font-family: Mansalva;
  font-size: 30px;
  font-weight: 700;
  color: rgb(47,168,217);
  text-shadow: -1px -1px 0 #000, -1px -1px 0 #000;
}

#unlocks_at{
  font-size: medium;
  text-align: center;
  color: #ff2626;
}

.pick-car{
  color: white;
  font-size: 42px;
  position: absolute;
}

.pick-car:hover {
  color: rgb(47,168,217);
}

#left-icon{
  left: 25%;
  top: 225px;
}

#right-icon{
  left: 70%;
  top: 225px;
}

.spin{
  -webkit-animation:spin 4s linear infinite;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

#playable-car-1{
  display: none;
  z-index: 1;
  top: 210px;
  left: 43.5%;
  width: 45px;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 1),  rgba(4, 0, 255, 1));
}

#playable-car-2{
  display: none;
  z-index: 1;
  top: 210px;
  left: 43.5%;
  width: 45px;
  background-image: linear-gradient(to bottom, rgb(30, 255, 0),  rgba(4, 0, 255, 1));
}
#playable-car-3{
  display: none;
  z-index: 1;
  top: 210px;
  left: 43.5%;
  width: 45px;
  background-image: linear-gradient(to bottom, rgb(231, 16, 221),  rgba(4, 0, 255, 1));
}
#playable-car-4{
  display: none;
  z-index: 1;
  top: 220px;
  left: 45%;
  width: 35px;
  height: 60px;
  background-image: linear-gradient(to bottom, #000,  rgba(4, 0, 255, 1));
}
#playable-car-5{
  display: none;
  z-index: 1;
  top: 220px;
  left: 45%;
  width: 35px;
  height: 60px;
  background-image: linear-gradient(to bottom, #000,  #000);
}
#playable-car-6{
  display: none;
  z-index: 1;
  top: 200px;
  left: 43.5%;
  width: 55px;
  height: 100px;
  background-image: linear-gradient(to bottom, rgb(255, 203, 61),  rgb(255, 203, 61));
}

[class^="locked"]{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  font-size: larger;
}

.fa-lock{
  
}


#decal-container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#decal1{
  background-color: white;
  width: 10%;
  height: 100%;
  margin-right: 3px;
}

#decal2{
  background-color: white;
  width: 10%;
  height: 100%;
}

#car1{
  top: -80px;
  left: 60%;
  background-color: #fffb00;
}

#car2{
  top: -250px;
  left: 40%;
  width: 45px; 
  background-color: #2335d1;
}
#car3{
  top: -450px;
  left: 50%;
  width: 40px; 
  background-color: #26c5ff;
}

#car4{
  top: -650px;
  left: 20%;
  height: 60px;
  width: 40px; 
  background-color: #ff2626;
}


.windshield{
  position: absolute;
  height: 20%;
  width: 60%;
  margin-left: 20%;
  top: 15%;
  border-radius: 0px 0px 5px 5px;
  background-color: black;
}
.backglass{
  position: absolute;
  height: 20%;
  width: 60%;
  margin-left: 20%;
  bottom: 15%;
  border-radius: 5px 5px 0px 0px;
  background-color: black;
}
.left-headlight{
  position: absolute;
  height: 10%;
  width: 20%;
  margin-left: 10%;
  top: -6%;
  border-radius: 5px 5px 0px 0px;
  background-color: #efefef;
}
.right-headlight{
  position: absolute;
  height: 10%;
  width: 20%;
  margin-left: 70%;
  top: -6%;
  border-radius: 5px 5px 0px 0px;
  background-color: #efefef;
}
.front-tire-left{
  position: absolute;
  height: 20%;
  width: 10%;
  background-color: grey;
  top: 20%;
  left: -10%;
  border-radius: 5px 0px 0px 5px;
}
.front-tire-right{
  position: absolute;
  height: 20%;
  width: 10%;
  background-color: grey;
  top: 20%;
  left: 100%;
  border-radius: 0px 5px 5px 0px;
}
.back-tire-left{
  position: absolute;
  height: 20%;
  width: 10%;
  background-color: grey;
  top: 70%;
  left: -10%;
  border-radius: 5px 0px 0px 5px;
}
.back-tire-right{
  position: absolute;
  height: 20%;
  width: 10%;
  background-color: grey;
  top: 70%;
  left: 100%;
  border-radius: 0px 5px 5px 0px;
}
