body{
  background-size: 15%;
  background-image: linear-gradient(rgba(42,43,45, 0.9), rgba(42,43,45, 0.6)),url("../dist/backdrop.jpg");
}

.top-icons{
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: rgb(47,168,217);
}

.top-icons a {
  margin: 10px
}

#header {
  text-align: center;
  font-family: Mansalva;
  font-size: 50px;
  color: rgb(216,81,78);
}

#main{
  margin: 20px auto;
  background-color: rgb(42,43,45);
  font-family: Comfortaa;
  box-sizing: border-box;
  border-radius: 10px;
}

.view-container{
  padding: 10px;
  
}

#controls{
  text-align: center;
  color: rgb(47,168,217);
  margin-top: 10px;
}

#controls span {
  font-weight: 700;
}

#score-container{
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 5px;
}

#score-container > span{
  padding-left: 10px;
}

#score{
  padding-right: 10px;
}

#game-container{
  position: relative;
  height: 700px;
  width: 60%;
  margin: auto;
  margin-top: 15px;;
  background-color: #292929;
  background-image: url("../../dist/asphalt2.jpg");
  overflow: hidden;
}

.line{
  position: absolute;
  height: 80px;
  width: 2%;
  margin-left: 48%;
  background-color: rgba(255, 255, 255, 0.5);
}

#curb1{
  margin-left: 1%;
  height: 100%;
}

#curb2{
  margin-left: 97%;
  height: 100%;
}

#line1{
  top: 0px;
}
#line2{
  top: 150px;
}
#line3{
  top: 300px;
}
#line4{
  top: 450px;
}
#line5{
  top: 600px;
}
#line6{
  top: -150px;
}
#line7{
  top: -280px;
}

#restart-container{
  position: absolute;
  display: inline-block;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.527);
  /* border-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* left: 40%;
  top: 45%; */
  display: none;
}

#restart{
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  
}

.small-text{
  font-size: 14px;
}

#crashed-icon{
  font-size: 50px;
}

.personal-icons{
  margin-top: 10px;
  font-size: 30px;
}

.personal-icons i{
  cursor: pointer;
}

.personal-icons i:hover{
  font-size: 35px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 10%;
  width: 100%;
  margin: 25px 0;
  color: white;
}
#music{
  color: rgb(216,81,78);
  position: absolute;
  font-size: 40px;
}

@media all and (min-width: 1200px) {

  #main{
    /* height: 70vw; */
    width: 600px;
  }

  #game_container{
    height: 100%;
  }

}